/* Slide down animation */
@keyframes slideInFromAbove {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Slide up animation */
@keyframes slideInFromBelow {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

.fromAbove {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-name: slideInFromAbove;
}

.fromBelow {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-name: slideInFromBelow;
}

/*Expand animation for hovering over words/icons*/
.expand {
  transition: all 0.2s ease-in-out;
}

.expand:hover {
  transform: scale(1.1);
}

/* Navigation bar */

.gridContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 100%s;
}

.navBar {
  background-color: #343a40;
  min-width: 350px;
  padding: 10px;
}

.noWrap {
  flex-wrap: nowrap;
}

.gridItem {
  margin: auto;
}

.navTitle {
  font-size: 72px;
  color: #f1f2f4;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.navLinks {
  position: inline;
  display: inline;
  float: right;
  margin: 0px 10% 0px 0%;
}

.navIcon {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

/* Carousel */

.carouselInner {
  text-align: center;
}

.flex {
  display: flex;
  flex-flow: column wrap;
  padding: 3px;
  max-height: none;
  width: 800px;
  overflow: hidden;
  align-content: flex-start;
  margin: 0px;
}

.projectP {
  width: 700px;
}

.projectPic {
  width: 200px;
  height: 150px;
}

.carouselProjects {
  text-align: center;
}

.carousel-item-content {
  text-align: center;
  margin: 5px auto;
  max-width: 900px;
  min-width: 500px;
  overflow: visible;
}

.carousel-item-content p,
.carousel-item-content h3,
.carousel-item-content h4 {
  text-align: justify;
  padding: 10px;
  max-width: 700px;
}

.work-exp {
  text-align: center;
  margin: 5px auto;
  max-width: 800px;
}

.carousel-item h1 {
  font-size: 72px;
}

.carousel-item-content h2 {
  padding: 0px 50px;
}

.indicators-container {
  position: absolute;
  left: -50px;
  bottom: -100px;
  width: 100%;
}

.carousel-indicators li,
.carousel-indicators li.active {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  text-indent: 0;
}

.indic {
  margin-left: 60px !important;
  margin-right: 75px !important;
}

.btn.round.btn-dark {
  transition: all 0.2s ease-in-out;
}

.btn.round.btn-dark:hover {
  transform: scale(1.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1em;
  height: 1em;
  -webkit-transition-property: width, height;
  /* Safari */
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-property: width, height;
  transition-duration: 1s;
}

.carousel-control-prev-icon {
  background-image: url("/images/back.svg");
}

.carousel-control-next-icon {
  background-image: url("/images/next.svg");
}

.carousel-arrow:hover .carousel-control-prev-icon,
.carousel-arrow:hover .carousel-control-next-icon {
  height: 6em;
  width: 6em;
  -webkit-transition-property: width, height;
  /* Safari */
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-property: width, height;
  transition-duration: 1s;
}

.btn.round {
  border-radius: 24px;
}

.tech-stack {
  margin-left: 12px;
  margin-bottom: 15px;
  text-align: left;
}

#typewriter {
  font-size: 40px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #c40000;
  border-radius: 50%;
  display: inline-block;
}

.tooltip {
  pointer-events: none;
}
